/* ------------- body ------------- */
body {
    @include body;
}

/* ------------- header ------------- */
header {
    @include header;
}

/* ------------- main ------------- */
.menucontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    margin: auto;
}

.menu {
    @include menudisplay;
}


.menu1 {
    background-color: #f9d2d2;
    font-family: 'Devonshire', cursive;
}


/* ------------- footer ------------- */
footer {
    @include footer;
}