/* ------------- body ------------- */
body {
    @include body;
}

/* ------------- header ------------- */
header {
    @include header;
}

/* ------------- main ------------- */
.menucontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    margin: auto;
}

.menu {
    @include menudisplay;
}

.menu2 {
    background-color: #FEF3F3;
    font-family: 'Katibeh', cursive;

    h2 {
        background: linear-gradient(to bottom right, #ff9900 0%, #e67300 1%, #8080ff 100%);
        background-clip: border-box;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

        filter: brightness(120%);
    }
}

/* ------------- footer ------------- */
footer {
    @include footer;
}